#ifndef DESKTOPSTUB_FILE_DESCRIPTION
#define DESKTOPSTUB_FILE_DESCRIPTION DESKTOPSTUB_PRODUCT_NAME " tray wallpaper tile utility"
#endif

#ifndef DESKTOPSTUB_INTERNAL_NAME
#define DESKTOPSTUB_INTERNAL_NAME "DesktopStub.exe"
#endif

#ifndef DESKTOPSTUB_ORIGINAL_FILENAME
#define DESKTOPSTUB_ORIGINAL_FILENAME "DesktopStub.exe"
#endif

#include "src\\DesktopStubVersionResource.rc.inc"
