#ifndef DESKTOPSTUB_FILE_DESCRIPTION
#define DESKTOPSTUB_FILE_DESCRIPTION DESKTOPSTUB_PRODUCT_NAME " Live Tile broker"
#endif

#ifndef DESKTOPSTUB_INTERNAL_NAME
#define DESKTOPSTUB_INTERNAL_NAME "DesktopStubLiveTileBroker.exe"
#endif

#ifndef DESKTOPSTUB_ORIGINAL_FILENAME
#define DESKTOPSTUB_ORIGINAL_FILENAME "DesktopStubLiveTileBroker.exe"
#endif

#include "src\\DesktopStubVersionResource.rc.inc"
